.card {
  animation-name: loading;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
  width: 200px;
  background-color: $lightblue;
  border-radius: 5px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px 5px;
  border-radius: 12px;
  border: medium none $blue-border;

  @include for-tablet {
    width: 250px;
  }

  &.crypto {
    background-color: $crypto-purple;
  }

  .first-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  p {
    margin: 0 auto;
  }

  img {
    margin-left: 5px;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}